h4 Container

div(ng-show='model.state.running')
	div(class='alert alert-success') Running
	div
		a(class="btn btn-danger",ng-click="stop()",href="javascript:void(0);") Stop
		a(class="btn btn-danger",ng-click="restart()",href="javascript:void(0);") Restart

div(ng-hide='model.state.running')
	div(class='alert alert-error') Stopped
	div
		a(class="btn",ng-click="start()",href="javascript:void(0);") Start
		a(class="btn btn-danger",ng-click="remove()",href="javascript:void(0);") Remove

table(class='table')
	tr
		th ID
		td {{model.id | dockerId}}
	tr
		th Image
		td
			a(href='/images/{{model.image}}') {{model.image | dockerId}}
	tr(ng-show='model.state.running')
		th Network
		td {{model.networkSettings.ipAddress}}
	tr
		th Path
		td {{model.path}}
	tr(ng-show='model.state.running')
		th Started
		td {{model.state.startedAt | dateAndTime}}
	tr
		th Created
		td {{model.created | dateAndTime}}
