h4 Images

div(ng-controller="SearchCtrl")
	form(class="form-search",ng-submit="search()")
		fieldset
			input(type='text',name='term',placeholder='Search',class='input-medium search-query',ng-model="term")
			button(class='btn') Search
	div(ng-show='model')
		table.table
			tr
				th Image
				th Description
			tr(ng-repeat='row in model')
				td {{row.name}}
				td {{row.description}}

table.table
	tr
		th Repository
		th Id
		th Tag
		th Created
	tr(ng-repeat='image in model')
		td
			a(href='/images/{{image.id}}') {{image.id | dockerId}}
		td {{image.repository}}
		td {{image.tag}}
		td {{image.created | momentAgo}}
