extends layout

block body
  div(ng-controller='AppCtrl',ng-cloak,class='container')
    div(class='navbar navbar-inverse')
      div(class='navbar-inner')
        div(class='container')
          div(class='nav-collapse')
            ul(class='nav')
              li
                a(href='containers') Containers
              li
                a(href='images') Images
              li
                a(href='about') About

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/underscore.js')
  script(src='js/lib/moment.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/app.js')
