!!!
html(ng-app="dockerApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Docker Web
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
